<h1><%= t "layouts.application.base_title" %></h1>
<p><%= t ".greeting", name: @user.name %></p>
<p><%= t ".activation_mail_body" %></p>
<%= link_to t(".activate"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
